
[Desktop Entry]
Version=0.1
Encoding=UTF-8
Name=Rcade
Comment=Play classic arcade games
Exec=wahcade
Terminal=false
Type=Application
Icon=rcade.png
Categories=Game;ArcadeGame;
StartupNotify=False
