
[Desktop Entry]
Version=0.26
Encoding=UTF-8
Name=Rcade Layout Editor
Comment=Edit Rcade Layouts
Exec=wahcade-layout-editor
Terminal=false
Type=Application
Icon=wahcade-layout-editor.png
Categories=Game;ArcadeGame;
StartupNotify=False
Name[en_US]=Rcade Layout Editor
