
[Desktop Entry]
Version=0.26
Encoding=UTF-8
Name=Rcade Setup Editor
Comment=Setup Rcade
Exec=wahcade-setup
Terminal=false
Type=Application
Icon=wahcade-setup.png
Categories=Game;ArcadeGame;
StartupNotify=False
Name[en_US]=Rcade Setup Editor
